<% include ../header %>

    <div class="container">
        <h4 class="mt-5">Erro no servidor!</h4>
        <p>Detalhes:</p>
        <div>
            <code>
                <pre><%- message %></pre>
            </code>
        </div>
        <a href="/">Voltar</a>
    </div>

    <% include ../footer %>