<% include ../header %>

  <div class="container">
    <header class="mt-5">
      <h1>Ntalk - Agenda de contatos</h1>
    </header>
    <section>
      <p>Bem-vindo <%- usuario.nome %></p>
      <a href="/sair">Sair</a>
    </section>
  </div>

<% include ../footer %>