<% include ../header %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://dell-g15.local:3000');

        socket.on('send-client', function (msg) {
            const chat = document.getElementById('chat');
            chat.innerHTML += msg;
        });
        
        const enviar = function () {
            const msg = document.getElementById('msg').value;
            socket.emit('send-server', { msg });
        }

        socket.emit('join', "<%- room %>");
    </script>

    <div class="container">
        <header class="mt-5">
            <h1>Ntalk - Chat</h1>
        </header>
        <section>
            <pre id="chat"></pre>
            <input type="text" id="msg" placeholder="Mesagem">
            <button onclick="enviar()">Enviar</button>
        </section>
    </div>

<% include ../footer %>