<% include ../header %>

  <div class="container">
    <header class="mt-5">
      <h1>Ntalk - Agenda de contatos</h1>
    </header>
      <h2>Detalhe do contato</h2>
      <p><b>Nome: </b><%- contato.nome %></p>
      <p><b>E-mail: </b><%- contato.email %></p>
      <a class="btn btn-primary" href="/contatos">Voltar</a>
  </div>

  <% include ../footer %>